@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Regular"), url("../../fonts/Montserrat-Regular.ttf") format("truetype");
}

body {
    font-family: Montserrat;
    /* margin: 0px; */
}

.headerContainer {
    background-color: rgba(73, 72, 70, 0.829);
    /* position: sticky; */
    height: 8vh;
    display: grid;
    border-radius: 20px;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.siteTitle {
    color: white;
    font-size: 40px;
    margin-left: 12px;
}

.headerButtons {
    display: flex;
}

.profileButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.profileButton {
    font-size: 16px;
    border: 1px solid black;
    /* border: none; */
    border-radius: 20px;
    padding: 6px 8px;
    color: white;
    background-color: black;
    font: inherit;
    cursor: pointer;
}

.profileButton:hover {
    background-color: rgb(241, 173, 63);
    color: black;
    border: 1px solid rgba(73, 72, 70, 0.829);
}

.signOutButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.signOutButton {
    font-size: 16px;
    border: 1px solid black;
    /* border: none; */
    border-radius: 20px;
    padding: 6px 8px;
    color: white;
    background-color: black;
    font: inherit;
    cursor: pointer;
}

.signOutButton:hover { 
    background-color: rgb(241, 173, 63);
    color: black;
    border: 1px solid rgba(73, 72, 70, 0.829);
}

.newTrackerButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.newTrackerButton {
    font-size: 16px;
    border: 1px solid black;
    /* border: none; */
    border-radius: 20px;
    padding: 6px 8px;
    color: white;
    background-color: black;
    font: inherit;
    cursor: pointer;
}

.newTrackerButton:hover {
    background-color: rgb(241, 173, 63);
    color: black;
    border: 1px solid rgba(73, 72, 70, 0.829);
}

.bodyContainer {
    height: 82vh;
}

.bodyWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trackItemsContainer {
    margin-top: 20px;
}

.limitTrackerSelector {
    font-size: 18px;
    font-family: inherit;
    border: 1px solid white;
    background: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 6px 4px;
    width: 14vw;
}

.limitTrackerSelector:hover {
    background-color: rgb(241, 173, 63);
    color: black;
    border: 1px solid black;
}

.trackerListItem {
    font-family: inherit;
    font-size: 16px;
}

.limitTrackerTimePeriodHistoryButton {
    border: 1px solid white;
    /* border-radius: 20px; */
    /* padding: 10px 12px; */
    color: white;
    background-color: black;
    font: inherit;
    cursor: pointer;
    border-radius: 50%;
    height: 39px;
    width: 39px;

    margin: 0px 8px;
}

.limitTrackerTimePeriodHistoryButton:hover {
    background-color: rgb(241, 173, 63);
    color: black;
    border: 1px solid black;
}

.limitTrackerEditButton {
    border: 1px solid white;
    color: white;
    background-color: black;
    font: inherit;
    cursor: pointer;
    border-radius: 50%;
    height: 39px;
    width: 39px;
}

.limitTrackerEditButton:hover {
    background-color: rgb(241, 173, 63);
    color: black;
    border: 1px solid black;
}

.currentPeriodLimitStatisticsContainer {
    color: white;
    background-color: rgba(73, 72, 70, 0.829);
    /* border: 1px solid white; */
    border-radius: 20px;
    width: 18vw;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin-top: 12px;
    font-size: 18px;
}

.limitText {
    margin-right: 4px;
}

.currentPeriodPurchasesListContainer {
    color: white;
    height: 65vh;
    width: 32vw;

    display: flex;
    flex-direction: column;
    scrollbar-width: thin;
    overflow-y: auto;
    scrollbar-color: rgb(241, 173, 63) rgba(73, 72, 70, 0.829);
    margin-top: 12px;

    font-size: 16px;
}

.currentPeriodPurchasesList {
    width: 100%;
    text-align: center;
}

.dateOfPurchaseTitle {
    width: 15%;
}

.purchaseReasonTitle {
    width: 55%;
}

.moneySpentOnPurchaseTitle {
    width: 20%;
}

.editPurchaseItemTitle {
    width: 5%;
}

.deletePurchaseItem {
    width: 5%;
}

.currentPeriodStatisticsContainer {
    color: white;
    background-color: rgba(73, 72, 70, 0.829);
    /* border: 1px solid white; */
    border-radius: 20px;
    width: 38vw;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin-top: 12px;
    font-size: 18px;
}

.editPurchaseItemButton {
    border: 1px solid white;
    color: white;
    background-color: black;
    font: inherit;
    cursor: pointer;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 6px;
}

.editPurchaseItemButton:hover {
    background-color: rgb(241, 173, 63);
    color: black;
    border: 1px solid black;
}

.leftText {
    margin-right: 4px;
}

.NewPurchaseAdderContainer {
    width: 39vw;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.itemPurchaseAmount {
    font-size: 20px;
    font-family: inherit;
    border: 1px solid white;
    background: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 6px 10px;
    width: 12vw;
}

.itemPurchaseAmount::placeholder {
    color: rgb(241, 173, 63, 0.75);
}

.itemPurchaseReason {
    font-size: 20px;
    font-family: inherit;
    border: 1px solid white;
    background: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 6px 10px;
    width: 18vw;
}

.itemPurchaseReason::placeholder {
    color: rgba(241, 173, 63, 0.75);
}

.itemAddToListButton {
    font-size: 20px;
    font-family: inherit;
    border: 1px solid white;
    background: black;
    color: white;
    border-radius: 20px;
    padding: 6px 4px;
    width: 4vw;
    cursor: pointer;
}

.itemAddToListButton:hover {
    background-color: rgb(241, 173, 63);
    color: black;
}

#pencilIcon {
    display: inline;
}

#cancelIcon {
    display: none
}

#trashIcon {
    display: inline;
}

#checkIcon {
    display: none;
}

.editInput {
    border: 1px solid white;
    background-color: black;
    border-radius: 20px;
    font-family: inherit;
    padding: 4px 6px;
    font-size: 12px;
    width: 80px;
    color: white;
    /* margin: 3px 0px 6px; */
}

.editInput::placeholder {
    font-size: 14px;
    color: rgb(241, 173, 63, 0.75);
}

.purchaseEditMode {
    display: none;
}

.purchaseViewMode {

}







@media screen and (max-width: 1300px) {
    .currentPeriodLimitStatisticsContainer {
        width: 22vw;
    }

    .currentPeriodStatisticsContainer {
        width: 46vw;
    }

    .NewPurchaseAdderContainer {
        width: 42vw;
    }

    .itemPurchaseAmount {
        width: 13vw;
        font-size: 18px;
    }

    .itemPurchaseReason {
        width: 19vw;
        font-size: 18px;
    }

    .itemAddToListButton {
        width: 5vw;
        font-size: 18px;
    }
}

@media screen and (max-width: 1160px) { 
    .currentPeriodLimitStatisticsContainer {
        width: 26vw;
    }

    .currentPeriodStatisticsContainer {
        width: 50vw;
    }

    .NewPurchaseAdderContainer {
        width: 46vw;
    }
}

@media screen and (max-width: 1020px) {
    .NewPurchaseAdderContainer {
        width: 48vw;
    }

    .itemPurchaseAmount {
        width: 15vw;
    }

    .itemPurchaseReason {
        width: 21vw;
    }

    .itemAddToListButton {
        width: 6vw;
    }
}

@media screen and (max-width: 960px) {
    .limitTrackerSelector {
        font-size: 16px;
    }

    .limitTrackerTimePeriodHistoryButton, .limitTrackerEditButton {
        width: 36px;
        height: 36px;
    }
    
    .currentPeriodLimitStatisticsContainer {
        width: 28vw;
        font-size: 16px;
    }

    .currentPeriodStatisticsContainer {
        width: 54vw;
        font-size: 16px;
    }

    .NewPurchaseAdderContainer {
        width: 54vw;
    }

    .itemPurchaseAmount {
        width: 17vw;
        font-size: 18px;
    }

    .itemPurchaseReason {
        width: 23vw;
        font-size: 18px;
    }

    .itemAddToListButton {
        width: 7vw;
        font-size: 18px;
    }
}

@media screen and (max-width: 795px){
    .limitTrackerSelector {
        font-size: 14px;
    }

    .limitTrackerTimePeriodHistoryButton, .limitTrackerEditButton {
        width: 34px;
        height: 34px;
    }
    
    .currentPeriodLimitStatisticsContainer {
        width: 32vw;
        font-size: 14px;
    }

    .currentPeriodStatisticsContainer {
        width: 60vw;
        font-size: 14px;
    }

    .NewPurchaseAdderContainer {
        width: 60vw;
    }

    .itemPurchaseAmount {
        width: 18vw;
        font-size: 16px;
    }

    .itemPurchaseReason {
        width: 24vw;
        font-size: 16px;
    }

    .itemAddToListButton {
        width: 8vw;
        font-size: 16px;
    }
}

@media screen and (max-width: 420px){
    .limitTrackerSelector {
        font-size: 12px;
        width: 26vw;
        height: 3.9vh;
        padding: 0px;
    }

    .limitTrackerTimePeriodHistoryButton, .limitTrackerEditButton {
        width: 32px;
        height: 32px;

        font-size: 13px;
    }

    .buttons {
        position: relative;
        right: 4px;
    }
    
    .currentPeriodLimitStatisticsContainer {
        width: 46vw;
        font-size: 12px;
    }

    .currentPeriodStatisticsContainer {
        width: 84vw;
        font-size: 12px;
    }

    .NewPurchaseAdderContainer {
        width: 84vw;
    }

    .itemPurchaseAmount {
        width: 25vw;
        font-size: 16px;
    }

    .itemPurchaseReason {
        width: 31vw;
        font-size: 16px;
    }

    .itemAddToListButton {
        width: 15vw;
        font-size: 16px;
    }

    .currentPeriodPurchasesListContainer {
        height: 55vh;
        width: 70vw;
        /* height: 65vh;
        width: 32vw; */
    }

    .currentPeriodPurchasesList {
        font-size: 12px;
    }
}
