@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Regular"), url("../../fonts/Montserrat-Regular.ttf") format("truetype");
}

body {
    font-family: Montserrat;
    /* margin: 0px; */
}

.headerContainer {
    background-color: rgba(73, 72, 70, 0.829);
    /* position: sticky; */
    height: 8vh;
    display: grid;
    border-radius: 20px;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.siteTitle {
    color: white;
    font-size: 40px;
    margin-left: 12px;
}

.signOutButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.signOutButton {
    font-size: 16px;
    border: 1px solid black;
    /* border: none; */
    border-radius: 20px;
    padding: 6px 8px;
    color: white;
    background-color: black;
    font: inherit;
    cursor: pointer;
}

.signOutButton:hover { 
    background-color: rgb(241, 173, 63);
    color: black;
    border: 1px solid rgba(73, 72, 70, 0.829);
}

.bodyContainer {
    height: 82vh;
}

.bodyWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trackItemsContainer {
    margin-top: 20px;
}

.limitTrackerSelector {
    font-size: 20px;
    font-family: inherit;
    border: 1px solid white;
    background: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 6px 4px;
}

.limitTrackerSelector:hover {
    background-color: rgb(241, 173, 63);
    color: black;
    border: 1px solid black;
}

.trackerListItem {
    font-family: inherit;
    font-size: 16px;
}

.limitTrackerTimePeriodHistoryButton {
    border: 1px solid white;
    /* border-radius: 20px; */
    /* padding: 10px 12px; */
    color: white;
    background-color: black;
    font: inherit;
    cursor: pointer;
    border-radius: 50%;
    height: 40px;
    width: 40px;

    margin: 0px 8px;
}

.limitTrackerTimePeriodHistoryButton:hover {
    background-color: rgb(241, 173, 63);
    color: black;
    border: 1px solid black;
}

.limitTrackerEditButton {
    border: 1px solid white;
    color: white;
    background-color: black;
    font: inherit;
    cursor: pointer;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.limitTrackerEditButton:hover {
    background-color: rgb(241, 173, 63);
    color: black;
    border: 1px solid black;
}

.currentPeriodLimitStatisticsContainer {
    color: white;
    background-color: rgba(73, 72, 70, 0.829);
    /* border: 1px solid white; */
    border-radius: 20px;
    width: 18vw;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin-top: 12px;
    font-size: 18px;
}

.limitText {
    margin-right: 4px;
}

.currentPeriodPurchasesListContainer {
    color: white;
    height: 65vh;
    width: 32vw;

    display: flex;
    flex-direction: column;
    scrollbar-width: thin;
    overflow-y: auto;
    scrollbar-color: rgb(241, 173, 63) rgba(73, 72, 70, 0.829);
    margin-top: 12px;
}

.currentPeriodPurchasesList {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* scrollbar-width:thin;
    scrollbar-color: rgb(241, 173, 63) rgba(73, 72, 70, 0.829);
    overflow-y: auto;
    height: 55.5vh; */
    /* margin-top: 6px; */
    /* border: 1px solid white; */
    width: 100%;
    text-align: center;
}

table {
    /* border-collapse: collapse; */
}

th, td {
    /* border: 1px solid white; */
}

.dateOfPurchaseTitle {
    width: 15%;
}

.purchaseReasonTitle {
    width: 55%;
}

.moneySpentOnPurchaseTitle {
    width: 20%;
}

.editPurchaseItemTitle {
    width: 10%;
}


.currentPeriodStatisticsContainer {
    color: white;
    background-color: rgba(73, 72, 70, 0.829);
    /* border: 1px solid white; */
    border-radius: 20px;
    width: 38vw;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin-top: 12px;
    font-size: 18px;
}

.editPurchaseItemButton {
    border: 1px solid white;
    color: white;
    background-color: black;
    font: inherit;
    cursor: pointer;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 6px;
}

.editPurchaseItemButton:hover {
    background-color: rgb(241, 173, 63);
    color: black;
    border: 1px solid black;
}

.leftText {
    margin-right: 4px;
}

.NewPurchaseAdderContainer {
    width: 39vw;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.itemPurchaseAmount {
    font-size: 20px;
    font-family: inherit;
    border: 1px solid white;
    background: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 6px 10px;
    width: 12vw;
}

.itemPurchaseAmount::placeholder {
    color: rgb(241, 173, 63, 0.75);
}

.itemPurchaseReason {
    font-size: 20px;
    font-family: inherit;
    border: 1px solid white;
    background: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 6px 10px;
    width: 18vw;
}

.itemPurchaseReason::placeholder {
    color: rgba(241, 173, 63, 0.75);
}

.itemAddToListButton {
    font-size: 20px;
    font-family: inherit;
    border: 1px solid white;
    background: black;
    color: white;
    border-radius: 20px;
    padding: 6px 4px;
    width: 4vw;
    cursor: pointer;
}

.itemAddToListButton:hover {
    background-color: rgb(241, 173, 63);
    color: black;
}
