@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Regular"), url("../../fonts/Montserrat-Regular.ttf") format("truetype");
}

body {
    font-family: Montserrat;
    background-color: black;
}

.trackerContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-left: 60px;
}

.trackerWrapper {
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px 60px;
}

.inputWrapper {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 6px 0px;
    /* padding: 3px 0px; */
}

.topInputWrapper {
    margin-top: 0px;
}

.bottomInputWrapper {
    margin-bottom: 0px;
}

.inputSpan {
    margin-bottom: 3px;
}

.textInputItem {
    border: 1px solid white;
    background-color: black;
    border-radius: 20px;
    font-family: inherit;
    padding: 6px 12px;
    font-size: 16px;
    width: 200px;
    color: white;
    margin: 3px 0px 6px;
}

.textInputItem::placeholder {
    font-size: 14px;
    color: rgb(241, 173, 63, 0.75);
}

.trackerStartDate {
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-family: inherit;
    padding: 6px 12px;
    font-size: 16px;
    width: 200px;
    margin: 3px 0px 6px;
}

.trackerStartDate::-webkit-calendar-picker-indicator {
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
}

.buttonMenuContainer {
    margin-top: 10px;
}

.buttonMenuWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(73, 72, 70, 0.829);
    background-color: rgba(73, 72, 70, 0.829);
    border-radius: 20px;
    margin-left: 16px;
    padding: 6px 0px;
    height: 77px;
    /* height: 115.5px; */
    /* height: 38.5px; */
    width: 40px;
}

.buttonMenuWrapper_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(73, 72, 70, 0.829);
    background-color: rgba(73, 72, 70, 0.829);
    border-radius: 20px;
    margin-left: 16px;
    padding: 6px 0px;
    height: 115.5px;
    width: 40px;
}

.homeButton {
    font-size: 16px;
    border: 1px solid black;
    border-radius: 50%;
    height: 33px;
    width: 33.5px;
    color: white;
    background-color: black;
    font: inherit;
    cursor: pointer;
}

.editTrackerButton {
    font-size: 16px;
    border: 1px solid black;
    /* border-radius: 20px;
    padding: 6px 8px; */
    border-radius: 50%;
    height: 33px;
    width: 33.5px; 
    color: white;
    background-color: black;
    font: inherit;
    cursor: pointer;
}

.editTrackerButton:hover {
    background-color: rgb(241, 173, 63);
    color: black;
    border: 1px solid rgba(73, 72, 70, 0.829);
}

.deleteTrackerButton {
    font-size: 16px;
    border: 1px solid black;
    /* border-radius: 20px;
    padding: 6px 8px; */
    border-radius: 50%;
    height: 33px;
    width: 33.5px; 
    color: white;
    background-color: black;
    font: inherit;
    cursor: pointer;
}

.deleteTrackerButton:hover {
    background-color: rgb(241, 173, 63);
    color: black;
    border: 1px solid rgba(73, 72, 70, 0.829);
}

.createTrackerButton {
    font-size: 16px;
    border: 1px solid black;
    /* border-radius: 20px;
    padding: 6px 8px; */
    border-radius: 50%;
    height: 33px;
    width: 33.5px; 
    color: white;
    background-color: black;
    font: inherit;
    cursor: pointer;
}

.createTrackerButton:hover {
    background-color: rgb(241, 173, 63);
    color: black;
    border: 1px solid rgba(73, 72, 70, 0.829);
}

.homeButton:hover {
    background-color: rgb(241, 173, 63);
    color: black;
    border: 1px solid rgba(73, 72, 70, 0.829);
}

#editIcon {
    display: inline;
}

#cancelIcon {
    display: none
}

#trashIcon {
    display: inline;
}

#checkIcon {
    display: none;
}

.trackerInfo {
    padding-left: 24px;
    color: rgb(241, 173, 63);
}

.askForPasswordContainer {
    display: flex;
    justify-content: center;    
    align-items: center;
    color: white;
    margin-top: 20px;
    display: none;
}

.askForPasswordWrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 20px;
    padding: 18px 43px;
}

.askForPasswordSpan {

}

.previousPassword {
    border: 1px solid white;
    background-color: black;
    border-radius: 20px;
    font-family: inherit;
    padding: 6px 12px;
    font-size: 16px;
    width: 200px;
    color: white;
    margin: 3px 0px 6px;
}

.previousPassword::placeholder {
    font-size: 14px;
    color: rgb(241, 173, 63, 0.75);
}

.enterPreviousPassword {
    align-self: center;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 20px;
    width: 70px;
    padding: 6px 8px;
    color: white;
    background-color: black;
    font: inherit;
    cursor: pointer;
}

.enterPreviousPassword:hover {
    background-color: rgb(241, 173, 63);
    color: black;
    border: 1px solid rgba(73, 72, 70, 0.829);
}

.viewTrackerMode {

}

.editTrackerMode {
    display: none;
}
